.navigation-container {
  background-color: var(--bg-color); /* Updated to use the background color variable */
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
