.work-history-card {
  padding: 3.2rem;
  background-color: var(--white-color);
  border: 1px solid #e6e8eb;
  max-width: 42.4rem;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.work-history-card:hover {
  border-color: transparent;
  box-shadow: 0px 16px 48px 0px rgba(19, 34, 56, 0.12);
}

.work-history-card img {
  max-width: 36rem;
  max-height: 22.4rem;
  object-fit: cover;
  transition: filter 0.3s ease, transform 0.3s ease;
}

.work-history-card:hover img {
  filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.3));
  transform: scale(1.05);
}

.history-card-content {
  margin-top: 3.2rem;
}

.history-card-time {
  color: #697484;
  font-size: 1.4rem;
  font-weight: 600;
}
.current-time {
  color: #1777e5;
}

.history-card-title {
  color: var(--text-color-1);
  font-size: 2rem;
  font-weight: 600;
  margin-block: 0.6rem 1.6rem;
}

.history-card-desc {
  color: var(--text-color-6);
  font-size: 1.4rem;
  line-height: 2rem;
}
