.logo {
  padding: 2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 26px;
  width: 20rem;
  background-color: var(--bg-color); /* Use background color based on the theme */
  color: var(--text-color-1); /* Use text color based on the theme */
}

/* Removed .dark and .light classes as they are redundant with the theme variables */
