.header-container {
  background-color: var(--bg-color); /* Use a background color that adapts to both themes */
  padding: 2rem 0; /* Adding padding if needed */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensure alignment of content and image */
}

.header-content {
  max-width: 75.9rem;
  color: var(--text-color-1);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.header-name {
  font-size: 2.4rem;
  font-weight: 600;
}

.header-title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
  margin-top: 2rem;
}

.header-desc {
  font-size: 2rem;
  line-height: 2.8rem;
  max-width: 64.8rem;
  color: var(--text-color-2);
}

.header-button-wrapper {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.header-img-parent {
  max-width: 64.8rem;
  max-height: 80rem;
  margin-right: -5rem;
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: transparent; /* Ensure transparency to blend with background */
}
