.header-container {
  background-color: var(--primary-shade-color);
}

.header {
  display: flex;
  align-items: center;
}

.header-content {
  max-width: 75.9rem;
  color: var(--text-color-1);
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.header-name {
  font-size: 2.4rem;
  font-weight: 600;
}

.header-title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
  margin-top: 2rem;
}

.header-desc {
  font-size: 2rem;
  line-height: 2.8rem;
  max-width: 64.8rem;
}

.header-button-wrapper {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.header-img-parent {
  max-width: 64.8rem;
  max-height: 80rem;
  margin-right: -5rem;
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: drop-shadow(0 0 10rem rgba(0, 0, 0, 0.123));
  animation: anim 1s linear infinite alternate; */
}

/* @keyframes anim {
  from {
    filter: grayscale(0%);
  }
  to {
    filter: grayscale(100%);
  }
} */
