.call-to-action {
  padding-block: 10rem;
  background-color: var(--text-color-1); /* Assuming --text-color-1 is intended to be a background color */
}

.call-to-action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  max-width: 64.8rem;
  color: var(--bg-color); /* Updated to adapt based on the theme */
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
}

.content {
  max-width: 53.6rem;
}

.content-desc {
  color: var(--text-color-3); /* Updated to use a text color variable */
  font-size: 2rem;
  line-height: 28px;
  margin-bottom: 3.2rem;
}
