.testimonial {
  background-color: var(--text-color-1);
  padding-block: 10rem;
}

.testimonial-container {
  color: var(--white-color);
  display: flex;
  align-items: center;
  gap: 8.2rem;
}

.testimonial-quote {
  max-width: 64.8rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.quote-subtitle {
  color: var(--primary-color, #ffd91a);
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
}

.quote-text {
  font-size: 3.2rem;
  line-height: 40px;
}

.quote-author-dots {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quote-author {
}

.author-name {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.author-passion {
  color: var(--text-color-5);
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
}

.quote-dots {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.quote-dots .dot {
  width: 0.6rem;
  aspect-ratio: 1;
  background-color: var(--text-color-2);
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color, width;
  transition: 0.3s ease;
}

.quote-dots .dot-active {
  width: 1.2rem;
  background-color: var(--white-color);
}

.testimonial-img-parent {
  max-width: 59rem;
  max-height: 53.6rem;
}

.testimonial-img-parent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
